@import "tailwindcss";

* {
  font-family: "Playfair Display", serif;
}

.Poppins {
  font-family: 'Poppins';
}

/* Left → Right */
.animate-right {
  animation: moveRight 3s linear infinite;
}

/* Right → Left */
.animate-left {
  animation: moveLeft 3s linear infinite;
}

@keyframes moveRight {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100vw);
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(-100%);
  }
}